  <main role="main">
    <div class="container">
      <div class="card card-plain shadow my-5 pl-2 pl-lg-0">
        <div calss="card-body">
          <div class="row">
            <div class="col-12 col-lg-4 px-sm-4 my-sm-4"><%= image_tag "logo1.png", width: "290", height: "80", class: "logo" %></div>
            <div class="col-12 col-lg-4">
              <h1 class="text-center my-sm-5 text-solution"><span class="under">会社概要</span></h1></div>
            <div class="col-12 col-lg-4"></div>
          </div>
          <dl class="row my-sm-5">
            <dt class="col-sm-3"></dt>
            <dt class="col-sm-3">社名</dt>
            <dd class="col-sm-6">株式会社ビーライトソリューションズ</dd>
            <hr class="col-10 featurette-divider">
            <dt class="col-sm-3"></dt>
            <dt class="col-sm-3">会社所在地</dt>
            <dd class="col-sm-6">
              <p class="mb-2">〒４５６-００３５</p>
              <p class="mb-0">名古屋市熱田区白鳥３丁目１０番１９号</p>
              <hr class="col-10 featurette-divider">

              <a href="https://b-light-group.co.jp/location.html"><p class="mb-2">事業所一覧はこちら</p></a>
              <dt class="col-sm-3"></dt>
            </dd>
            <hr class="col-10 featurette-divider">
            <dt class="col-sm-3"></dt>
            <dt class="col-sm-3">電話番号</dt>
            <dd class="col-sm-6">052-265-7304</dd>
            <hr class="col-10 featurette-divider">
            <dt class="col-sm-3"></dt>
            <dt class="col-sm-3">FAX</dt>
            <dd class="col-sm-6">052-265-7306</dd>
            <hr class="col-10 featurette-divider">
            <dt class="col-sm-3"></dt>
            <dt class="col-sm-3">設立</dt>
            <dd class="col-sm-6">2015年（平成27年）4月</dd>
            <hr class="col-10 featurette-divider">
            <dt class="col-sm-3"></dt>
            <dt class="col-sm-3">役員</dt>
            <dd class="col-sm-6">
              <p class="mb-2">代表取締役：若尾　光伸</p>
              <p class="mb-0">取　締　役：甲斐裕章（医療コンサルティング事業担当）</p>

            </dd>
            <hr class="col-10 featurette-divider">
            <dt class="col-sm-3"></dt>
            <dt class="col-sm-3">関連会社</dt>
            <dd class="col-sm-6">
              <p class="mb-0">(株)ビーライトグループ</p>
              <p class="mb-0">(株)ビーライト</p>
              <p class="mb-0">(株)ビーライトネオ</p>
              <p class="mb-0">(株)ビーライトソーラー</p>
              <p class="mb-0">(株)ビーライトソリューションズ</p>
              <p class="mb-0">(株)ビーライト東北</p>
              <p class="mb-0">(有)ビーエルイー</p>
            </dd>
            <hr class="col-10 featurette-divider">
            <dt class="col-sm-3"></dt>
            <dt class="col-sm-3">事業内容</dt>
            <dd class="col-sm-6">
                <p class="mb-0">医療機器販売事業</p>
                <p class="mb-0">医療事務管理事業</p>
                <p class="mb-0">医療ファーマシィ事業</p>
                <p class="mb-0">医療施設運用事業</p>
            </dd>
            <hr class="col-10 featurette-divider">
          </dl>
        </div>
      </div>
      <div class="google-maps col-xl-12 shadow">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6526.724067797556!2d136.906772!3d35.122638!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60037a1edc8f0c9d%3A0xea30c6318cb5f62e!2z44CSNDU2LTAwMzUg5oSb55-l55yM5ZCN5Y-k5bGL5biC54ax55Sw5Yy655m96bOl77yT5LiB55uu77yR77yQ4oiS77yR77yZ!5e0!3m2!1sja!2sjp!4v1528052468039"
          width="1100" height="450" frameborder="0" style="border:0"></iframe>
      </div>
      <div class="row my-sm-5 shadow border rounded mt-5">
        <h1 class="text-center my-sm-3 col-12 text-solution"><span class="under">関連会社</span></h1>
        <hr class="col-sm-10 featurette-divider">
        <div class="col-sm-6 col-md-4 my-3 my-xl-5">
          <div class="card img-thumbnail shadow">
            <%= image_tag "card1.png", class: "card-img-top" %>
            <div class="card-body px-2 py-3">
              <h5 class="card-title">B-Light</h5>
              <p class="card-text">設備工事・設計施工事業<br><span>&nbsp;</span></p>
              <p class="mb-0"><a href="http://b-light.co.jp" class="btn btn-solutions btn-sm">ホーム</a> <a href="http://b-light.co.jp/about.html" class="btn btn-secondary btn-sm">会社概要</a></p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col-sm-6.col-md-3 -->
        <div class="col-sm-6 col-md-4 my-3 my-xl-5">
          <div class="card img-thumbnail shadow">
            <%= image_tag "card6.png", class: "card-img-top" %>
            <div class="card-body px-2 py-3">
              <h5 class="card-title">B-Light-Neo</h5>
              <p class="card-text">アライアンス事業、グローバル事業、エネルギー事業、グループ資材調達</p>
              <p class="mb-0"><a href="https://b-light-neo.co.jp" class="btn btn-solutions btn-sm">ホーム</a> <a href="https://b-light-neo.co.jp/about.html" class="btn btn-secondary btn-sm">会社概要</a></p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col-sm-6.col-md-3 -->
        <div class="col-sm-6 col-md-4 my-3 my-xl-5">
          <div class="card img-thumbnail shadow">
            <%= image_tag "card2.png", class: "card-img-top" %>
            <div class="card-body px-2 py-3">
              <h5 class="card-title">B-Solar</h5>
              <p class="card-text">再生エネルギー運営事業<br><span>&nbsp;</span></p>
              <p class="mb-0"><a href="https://b-solar.jp" class="btn btn-solutions btn-sm">ホーム</a> <a href="https://b-solar.jp/#about" class="btn btn-secondary btn-sm">会社概要</a></p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col-sm-6.col-md-3 -->
        <div class="col-sm-6 col-md-4 my-3 my-xl-5">
          <div class="card img-thumbnail shadow">
            <%= image_tag "card3.png", class: "card-img-top" %>
            <div class="card-body px-2 py-3">
              <h5 class="card-title">B-Premium</h5>
              <p class="card-text">ランドシステム事業、リノベーション事業<br><span>&nbsp;</span></p>
              <p class="mb-0"><a href="https://b-premium.co.jp" class="btn btn-solutions btn-sm">ホーム</a> <a href="https://b-premium.co.jp/about.html" class="btn btn-secondary btn-sm">会社概要</a></p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col-sm-6.col-md-3 -->
        <div class="col-sm-6 col-md-4 my-3 my-xl-5">
          <div class="card img-thumbnail shadow">
            <%= image_tag "card5.png", class: "card-img-top" %>
            <div class="card-body px-2 py-3">
              <h5 class="card-title">B-Light-Group</h5>
              <p class="card-text">グループ会社経営<br><span>&nbsp;</span></p>
              <p class="mb-0"><a href="https://b-light-group.co.jp" class="btn btn-solutions btn-sm">ホーム</a> <a href="https://b-light-group.co.jp/about.html" class="btn btn-secondary btn-sm">会社概要</a></p>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col-sm-6.col-md-3 -->
      </div>
      <!-- /.row -->
    </div>

  </main>
