<div class="container">
  <h3>コンサルタント紹介</h3>
  <form>
    <div class="row">
      <div class="col-md-5 col-sm-5">
        <%= image_tag('', :class =>"img-thumbnail img-responsivea") %>
      </div>
      <div class="col-md-7 col-sm-7">
        <div class="form-group">
          <h6>名前</h6>
          <h6>あいうえお<h6>
        </div>
        <div class="form-group">
          <h6>職種</H6>
        </div>
        <div class="row price-row">
          <div class="col-md-6">
            <h6>誕生日</h6>
            <div class="input-group border-input"></div>
          </div>
          <div class="col-md-6">
            <h6>血液型</h6>
            <div class="input-group border-input"></div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="col-12">
      <h6>経歴</h6><br>
      <p></p>
    </div>
    <hr>
    <div class="col-12">
      <h6>メッセージ</h6><br>
      <p></p>
    </div>
</div>
