<div class="row">
  <div class="col-12 text-center">
    <h2>事業内容</h2>
    <div class="col-12">
      <h3 class="text-muted">我々の提供する総合医療コンサルティングは「開業支援」と「医院運営・経営支援」の2つにわかれます。</h3>
    </div>
  </div>
</div>
<hr>
<div class="row my-5">
  <div class="col-12 text-center">
    <h3 class="pb-2">事業目的</h3>
    <div class="col-12">
      <p>地域医療を支えるクリニックの立上・運営・発展に寄与し、事業主（医師）をはじめそこで働く医療従事者のモチベーションを高く維持することで、<br>医業に専念できる環境づくり、医療の質の向上を図り、地域に貢献します。</p>
    </div>
  </div>
</div>
<hr>
<div class="row my-5 justify-content-center">
  <div class="col-12 text-center">
    <h3 class="text-muted pb-4">このようなお困り事ありませんか？</h3>
  </div>
      <div class="col-md-4">
        <div class="info p-0">
          <div class="icon">
            <i class="nc-icon nc-chat-33"></i>
          </div>
          <div class="description">
            <p>クリニックを立ち上げに当たり事業計画、資金や必要機材の調達を一人でできない。<p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info p-0">
          <div class="icon">
            <i class="nc-icon nc-money-coins"></i>
          </div>
          <div class="description">
            <p>経営のノウハウがないため持続した人事労働管理ができない。<p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="info p-0">
          <div class="icon">
            <i class="nc-icon nc-user-run"></i>
          </div>
          <div class="description">

<div class="description">
            <p>土地探し<p>
          </div>
          </div>
        </div>
      </div>
</div>
<hr>
<div class="row">
  <div class="col-12 text-center">
    <h2>開業支援</h2>
    <p>豊富な開業支援と弊社独自ノウハウを使いクリニック開業のサポートをさせて頂きます。<br>
    また、グループ企業の建築・土地開発のリソースを使い、最適な場所で最適な医療環境を提供いたします。<br>
    また優良企業との連帯でよりよいサービスを提供いたします。
    </p>
  </div>
</div>
<div class="container">
  <div id="info-areas">
    <div class="title">
      <h3 class="ml-3">メニュー一覧</h3>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="info p-0">
          <div class="icon">
            <i class="nc-icon nc-chat-33"></i>
          </div>
          <div class="description">
            <h4 class="info-title"> 開業相談 </h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="info p-0">
          <div class="icon">
            <i class="nc-icon nc-money-coins"></i>
          </div>
          <div class="description">
            <h4 class="info-title"> 資金調達 </h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="info p-0">
          <div class="icon">
            <i class="nc-icon nc-user-run"></i>
          </div>
          <div class="description">
            <h4 class="info-title"> 土地探し </h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="info p-0">
          <div class="icon">
            <i class="nc-icon nc-single-02 "></i>
          </div>
          <div class="description">
            <h4 class="info-title"> 各プロフェッショナル紹介 </h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="info p-0">
          <div class="icon">
            <i class="nc-icon nc-delivery-fast"></i>
          </div>
          <div class="description">
            <h4 class="info-title"> 薬品卸売 </h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="info p-0">
          <div class="icon">
            <i class="nc-icon nc-box-2"></i>
          </div>
          <div class="description">
            <h4 class="info-title"> 医療機器販売 </h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="info p-0">
          <div class="icon">
            <i class="nc-icon nc-badge"></i>
          </div>
          <div class="description">
            <h4 class="info-title"> 採用面接サポート </h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="info p-0">
          <div class="icon">
            <i class="nc-icon nc-glasses-2"></i>
          </div>
          <div class="description">
            <h4 class="info-title"> スタッフ研修 </h4>
          </div>
        </div>
      </div>
    </div>
    <hr>
<div class="row">
  <div class="col-12 text-center">
    <h2>医院運営・経営支援</h2>
    <p>地域密着のため、地域のニーズに応えた病院づくり。また、病院内での人事労務を始めとする経営業務を行い、病院の環境づくりを行います。<br>
    また、豊富な実績を持つ弊社コンサルタントと共に様々な経営視点でのサポートを行い、長く続き、地域に愛される病院を作ってゆきます。</p>
  </div>
</div>
<div class="container">
  <div id="info-areas">
    <div class="title">
      <h3 class="ml-3">メニュー一覧</h3>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="info p-0">
          <div class="icon">
            <i class="nc-icon nc-chat-33"></i>
          </div>
          <div class="description">
            <h4 class="info-title"> 経営コンサルティング </h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="info p-0">
          <div class="icon">
            <i class="nc-icon nc-money-coins"></i>
          </div>
          <div class="description">
            <h4 class="info-title"> 人事労務管理 </h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="info p-0">
          <div class="icon">
            <i class="nc-icon nc-user-run"></i>
          </div>
          <div class="description">
            <h4 class="info-title"> 機器導入選定 </h4>
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <div class="info p-0">
          <div class="icon">
            <i class="nc-icon nc-single-02 "></i>
          </div>
          <div class="description">
            <h4 class="info-title"> 総務経理 </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
