<%= form_with model: @hospital, :html => { multipart: true } do |form| %>
  <% if hospital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hospital.errors.count, "error") %>
      prohibited this hospital from being saved:</h2>

      <ul>
        <% hospital.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :写真%>
    <%= form.file_field :photo, class:"file-input" %>
  </div>
  <div class="field">
    <%= form.label :院名%>
    <%= form.text_field :hospitalname, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :住所（県）%>
    <%= form.collection_select(:prefe_eq, Prefecture.all, :name, :name, {prompt: "選択してください"}, {class: "form-control"}) %>

  </div>

  <div class="field">
    <%= form.label :住所（県以降） %>
    <%= form.text_area :addr, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :院長 %>
    <%= form.text_area :doctor, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :形態 %>
    <%= form.text_area :kind, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :概要 %>
    <%= form.text_area :body, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :実施期間 %>
    <%= form.date_field :period, class:"form-control" %>
  </div>
  <div class="field">
    <%= form.label :目的%>
    <%= form.text_area :purpose, class:"form-control"%>
  </div>

  <div class="field">
    <%= form.label :ニーズ %>
    <%= form.text_field :need, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :結果 %>
    <%= form.text_field :result, class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label :ホームページ %>
    <%= form.text_field :homepage, class:"form-control" %>
  </div>

  <div class="actions text-center m-3">
    <%= form.submit "投稿", :class =>"btn btn-success" %>
  </div>
<% end %>
