<div class="container">
  <div class="related-articles text-center">
    <h3 class="title">最新の実績</h3>
    <legend></legend>
    <div class="container">
      <div class="row">
        <% @hospitals.first(3).each do |hospital| %>
          <div class="col-md-4">
            <a href="pkp">
              <% if hospital.photo.attached? %>
                <%= image_tag url_for(hospital.photo.variant(resize: "128x128")), class:"img-rounded img-responsive" %>
              <% end %>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<hr>

  <%= search_form_for @q do |f| %>
    <div class="row px-3 justify-content-center">
      <div class="col-12 col-md-5">
        <div class="form-group">
          <%= f.label :kind_eq, "カテゴリーから絞り込み" %>
          <%= f.collection_select(:kind_eq, @hospitals, :kind, :kind, {prompt: "選択してください"}, {class: "form-control"}) %>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="form-group">
          <%= f.label :prefe_eq, "場所から絞り込み" %>
          <%= f.collection_select(:prefe_eq, Prefecture.all, :name, :name, {prompt: "選択してください"}, {class: "form-control"}) %>
        </div>
      </div>
      <div class="col-6 text-right">
        <div class="actions"><%= f.submit "検索", :class =>"btn btn-success btn-round" %></div>
      </div>
      <div class="col-6 text-left">
        <%= link_to "リセット", hospitals_path, class:"btn btn-success btn-round" %>
      </div>
    </div>
  <% end %>

<h3 class="title text-center">実績紹介</h3>
<div class="row p-3">
  <% @result.each do |hospital| %>
    <div class="col-md-4 col-sm-6">
      <div class="card card-blog bg-light">
        <div class="card-image text-center">
          <%= link_to hospital do %>
            <% if hospital.photo.attached? %>
              <%= image_tag url_for(hospital.photo.variant(resize: "128x128")), class:"img" %>
            <% end %>
          <% end %>
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">
            <%= hospital.hospitalname %>
          </h4>
          <div class="card-description">
            <%= hospital.prefe %><%= hospital.addr %>
          </div>
          <hr>
          <div class="card-footer">
            <%= link_to "詳細", hospital_path(hospital), class:"btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<%= paginate @result %>

<%= link_to 'New Hospital', new_hospital_path %>
