<div class="container">
  <h1>新規投稿</h1>

  <%= render 'form', hospital: @hospital %>

  <div class="col-12 text-center">
    <%= link_to 'Back', hospitals_path, class:"btn btn-danger m-3" %>
  </div>
</div>
