<div class="section pb-0">
      <div class="container">
        <div class="row title-row">
          <div class="col-md-2">
            <h4 class="shop">実績</h4>
          </div>
          <div class="col-md-4 ml-auto">
            <div class="pull-right">
              <span class="text-muted">投稿日:<%= @hospital.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@hospital.created_at.wday]})") %>:<label><%= @hospital.kind %></label></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-7 col-sm-6">
            <div class="ml-auto mr-auto">
              <% if @hospital.photo.attached? %>
              <%= image_tag url_for(@hospital.photo.variant(resize: "128x128")) %>
            <% end %>
            </div>
            <!-- end carousel -->
          </div>
          <div class="col-md-5 col-sm-6">
            <h2><%= @hospital.hospitalname %></h2>
            <h4 class="price"><strong><%= @hospital.prefe %><%= @hospital.addr %></strong></h4>
            <hr>
            <h5>院長</h5><p><%= @hospital.doctor %>
            <hr>
            <h5>目的</h5>
            <p><%= @hospital.body %></p>
            <div class="row">
              <div class="col-md-12 col-sm-12">
                <label>施工期間</label>
                <p><%= @hospital.period %></p>
              </div>
            </div>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <hr>
<div class="section pt-0">
      <div class="container">
        <div class="faq">
          <h4>フロー</h4>
          <br>
          <div id="acordeon">
            <div id="accordion" role="tablist" aria-multiselectable="true">
              <div class="card no-transition">
                <div class="card-header card-collapse" role="tab" id="headingOne">
                  <h5 class="mb-0 panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">ニーズ</a>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne">
                  <div class="card-body"><%= @hospital.need %></div>
                </div>
                <div class="card-header card-collapse" role="tab" id="headingTwo">
                  <h5 class="mb-0 panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">提案</a>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="card-body"></div>
                <%= @hospital.purpose %>
                </div>
                <div class="card-header card-collapse" role="tab" id="headingThree">
                  <h5 class="mb-0 panel-title">
                    <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">結果</a>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                  <div class="card-body"><%= @hospital.result %></div>
                </div>
              </div>
            </div>
            <!--  end acordeon -->
          </div>
        </div>
      </div>
    </div>
<%= link_to 'Edit', edit_hospital_path(@hospital) %> |
<%= link_to 'Back', hospitals_path %>

