<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
      <div class="card card-register bg-success">
        <h3 class="card-title text-white">Welcome</h3>
        <form class="register-form">
          <label>Email</label>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control no-border" %>
          <label>Password</label>
          <%= f.password_field :password, autocomplete: "current-password", class:"form-control no-border" %>
          <div class="form-check">
            <% if devise_mapping.rememberable? -%>
              <label class="form-check-label">
                <%= f.check_box :remember_me, class:"form-check-input align-middle", type:"checkbox" %>
                ログイン状態を記憶する
                <span class="form-check-sign"></span>
              </label>
            <% end -%>
          </div>
          <%= f.submit "Log in", class:"btn btn-neutral btn-block btn-round" %>
        </form>
        <div class="forgot">
          <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
            <%= link_to "パスワードを忘れた場合", new_password_path(resource_name), class:"btn btn-link btn-neutral" %><br/>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
<% end %>
