<p id="notice"><%= notice %></p>


<main class="role">
<div class="row">
  <div class="col-md-12 col-md text-center">
    <div class="row text-center justify-content-center mb-3 py-3">
      <h1 class="col-8 text-center">お知らせ一覧</h1></div>
    <div class="container justify-content-center bg-light pt-5">
      <table class="table mb-0">
        <tbody>
          <% @posts.each do |post| %>
            <% if user_signed_in? %>
              <tr>
                <td class="h4 font-weight-bold"><%= post.created_at.strftime("%Y年%m月%d日")%><br> <%= link_to post.title, post %></td>
                <td class="h4"><%= link_to '編集', edit_post_path(post) %>  <%= link_to '削除', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% else %>
              <tr>
                <td class="h4 font-weight-bold"><%= post.created_at.strftime("%Y年%m月%d日") %><br> <%= link_to post.title, post %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</main>
