<p id="notice"><%= notice %></p>
<main role="main" class="border-top">
<div class="container justify-content-center bg-light pt-5 ">
  <div class="col-md-8 offset-md-2 py-2">

    <h3><%= @post.title %></h2>
    <div class="text-right"><%= @post.created_at.strftime("%Y/%m/%d(#{%w(日 月 火 水 木 金 土)[@post.created_at.wday]})") %></div>
    <div class="detailText px-3 my-3">
      <%= @post.body %>
    </div>
  </div>
</div>

</main>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_post_path(@post) %> |
  <%= link_to 'Back', posts_path %>
<% end %>
