footer {
  background-color: #B0CE29;
  font-size: 1rem;
  line-height: 1.7;
}

footer h5 {
  color: white;
}

footer a {
  color: white;
}

footer a:hover{
  color:white;
}

small {
  color: white;
}

h1 {
  color: #B0CE29;
}

.text-solution{
  color: #B0CE29
}

h2{
  color: #B0CE29;
}

h3{
  color: #B0CE29;
}

.text-solution{
  color: #B0CE29;
}

.btn-solutions {
  color: white;
  background-color: #B0CE29;
  border-color: #B0CE29;
}

.btn-solar {
  color: white;
  background-color: #ff7f00;
  border-color: #ff7f00;
}

.btn-premium {
  color: white;
  background-color: #ff0000;
  border-color: #ff0000;
}

.btn-renovation {
  color: white;
  background-color: #53439c;
  border-color: #53439c;
}

.btn-b-light {
  color: white;
  background-color: #34b3d1;
  border-color: #34b3d1;
}

.bg-solar {
  background-color: #ff7f02ad;
}

.bg-b-light {
  background-color: #34b3d1;
}

.bg-renovation {
  background-color: #53439cad;
}

.bg-premium {
  background-color: #ff0000ad;
}

.bg-gray {
  background-color: rgba(9, 80, 159, 0.17);
}

.btn-outline-white {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: white;
  border: solid 2px white;
  border-radius: 3px;
  transition: .4s;
  background-color: transparent;
  border-radius: 20px;
}

.btn-outline-white:hover {
    background: white;
    color: #0950a0;

}

.my-5-minus{
  margin-top: -5rem;
  margin-bottom: -5rem;
}

.google-maps{
  margin-left: auto;
  margin-right: auto;
}

.google-maps {
position: relative;
padding-bottom: 56.25%;
padding-top: 30px;
height: 0;
overflow: hidden;
}

.google-maps iframe,
.google-maps object,
.google-maps embed {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.none{
  color: white;
}
