<div class="container-fluid">
  <div class="row">
    <div class="col-12 d-none d-lg-block px-0">
      <div class="card border-0 card-plain">
        <img class="card-img rounded-0" src="img/jumbtron.jpg" alt="カードの画像">
      </div>
    </div>
    <div class="col-12 d-lg-none px-0">
      <div class="card border-0">
        <img class="card-img rounded-0" src="img/res_jumbtron.jpg" alt="カードの画像">
      </div>
    </div>
  </div>

  <hr class="featurette-divider " id="concept">

  <div class="row text-center justify-content-center mb-5 py-5">
    <div class="col-12 col-xl-12 text-center fadein text-solution" >
      <h3>CONCEPT</h3>
      <h2>地域医療を支え、地域に貢献する</h2>
    </div>
    <div class="col-12 col-xl-6 fadein">
      <p>私達は、地域医療を支えるクリニックの戦略作りに参画し、医療技術の研鑽に努めてきた医師がも大元力を発揮できるようクリニック運営の参謀役を務めます。</p>
      <p>そして、日本の医学をグローバルというマーケットで地域に根づくクリニックの立ち上げ支援まで手がけてゆきます。</p>
    </div>
  </div>

  <hr class="featurette-divider " id="concept">

  <div class="row text-center justify-content-center py-3">
    <div class="col-12 col-xl-12 text-center fadein text-solution" >
      <h3>事業内容</h3>
    </div>
    <div class="col-12 col-xl-6 fadein">
      <h5><strong>総合医療コンサルティング</strong></h5>
    </div>
  </div>
  <div id="class" class="row justify-content-center mb-3 pt-5 marketing bg-white">
    <div class="col-4 justify-content-center">
      <div class="card bg-light">
        <div class="card-body">
          <h2 class="text-center text-solar">開業支援</h2>
          <hr class="featurette-divider">
          <p>資金調達、採用、機器販売はもちろん、最適な土地探しからサポートさせていただきます。</p>
        </div>
      </div>
    </div>
    <!-- /.col-lg-4 -->
    <div class="col-12 col-md-4 justify-content-center">
      <div class="card bg-light">
        <div class="card-body">
          <h2 class="text-center text-solar">医院運営・経営支援</h2>
          <hr class="featurette-divider">
          <p>医院を運営に必要不可欠なノウハウで医師の医業を快適に行えるよう、経営業のサポートをさせていただきます。</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 text-center">
      <%= link_to "詳しく", page_path('jigyou'), class:"btn btn-success" %>
    </div>
  </div>
  <!-- /.col-lg-4 -->
</div>
<hr>
<div class="row pb-3">
  <h3 class="col-12 text-center">実績紹介</h3>
  <% @hospitals.first(3).each do |hospital| %>
    <div class="col-md-4 col-sm-6">
      <div class="card card-blog bg-light">
        <div class="card-image text-center">
          <%= link_to hospital do %>
            <% if hospital.photo.attached? %>
              <%= image_tag url_for(hospital.photo.variant(resize: "128x128")), class:"img" %>
            <% end %>
          <% end %>
        </div>
        <div class="card-body text-center">
          <h4 class="card-title">
            <%= hospital.hospitalname %>
          </h4>
          <div class="card-description">
            <%= hospital.kind %>
            <%= hospital.need %>
          </div>
          <div class="card-footer">
            <%= link_to "詳細", hospital_path(hospital), class:"btn btn-success" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
  <div class="col-12 text-center">
    <%= link_to "一覧をみる", hospitals_path, class: "btn btn-outline-success" %>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-md-4 col-sm-6 ml-auto mr-auto">
    <div class="card card-profile card-plain">
      <div class="card-avatar border-white">
        <a href="#avatar">
          <img src="./assets/img/placeholder.jpg" alt="...">
        </a>
      </div>
      <div class="card-body">
        <h4 class="card-title">Anonymous Tim</h4>
        <h6 class="card-category">A private guy</h6>
        <p class="card-description">
        Hey there! Welcome to your user card. As you can see, it is already looking great. But if you want to tell us more about yourself by adding details in the settings page.
        </p>
      </div>
      <div class="card-footer text-center">
        <a href="#paper-kit" class="btn btn-icon btn-outline-success btn-border btn-round">詳細</a>
      </div>
    </div>
    <!-- end card -->
  </div>
  <div class="col-md-4 col-sm-6 ml-auto mr-auto">
    <div class="card card-profile card-plain">
      <div class="card-avatar border-white">
        <a href="#avatar">
          <img src="./assets/img/faces/joe-gardner-2.jpg" alt="...">
        </a>
      </div>
      <div class="card-body">
        <h4 class="card-title">Joe Gardner</h4>
        <h6 class="card-category">Artist and Music Composer</h6>
        <p class="card-description">
        Joe Garnder is one of the co-founders and drives the technical strategy of the platform, customer support and brand. Talk with Joe only interesting topics.
        </p>
      </div>
      <div class="card-footer text-center">
        <a href="#paper-kit" class="btn btn-icon btn-outline-success btn-border btn-round">詳細</a>
      </div>
    </div>
    <!-- end card -->
  </div>
</div>
<hr>
<div class="row mb-3">
  <div class="col-md-12 col-md text-center">
    <div class="row text-center justify-content-center mb-3 py-3">
      <h3 class="col-8 text-center">お知らせ一覧</h3></div>
    <div class="container justify-content-center pt-2">
      <table class="table mb-0">
        <tbody>
          <% @posts.each do |post| %>
            <% if user_signed_in? %>
              <tr>
                <td class="h5 font-weight-bold"><%= post.created_at.strftime("%Y年%m月%d日")%><%= link_to post.title, post %></td>
                <td class="h5"><%= link_to '編集', edit_post_path(post) %>  <%= link_to '削除', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% else %>
              <tr>
                <td class="h4 font-weight-bold"><%= post.created_at.strftime("%Y年%m月%d日") %><br> <%= link_to post.title, post %></td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <div class="col-12 text-center">
        <%= link_to "一覧をみる", posts_path, class: "btn btn-outline-success" %>
      </div>
    </div>
  </div>
</div>
