<!DOCTYPE html>
<html>
  <head>
    <title>b-solution</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column" style="min-height: 100vh">
    <div class="menu-container bg-transparent">
      <div class="menu">
        <ul>
          <li class="logo"> <%= link_to image_tag('logo1.png', width:"300", height: "80", class: "logo"), root_path, style:"padding:0px;" %></li>
          <li><%= link_to "コンセプト", root_path %>
          </li>
          <li> <%= link_to "事業内容" ,page_path('jigyou') %>
          </li>
          <li><%= link_to '実績', hospitals_path %>
          </li>
          <li><%= link_to '会社概要',page_path('about') %>
          </li>
          <li><a href="https://recruitment.b-light-group.co.jp/">採用情報</a>
          </li>
          <li>
            <% if user_signed_in? %>
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <% else %>
            <%= link_to "ログイン", new_user_session_path %>
          <% end %>
          </li>
        </ul>
      </div>
    </div>
    <main class="mb-auto">
    <%= yield %>
    </main>
    <footer class="pt-4 p-3 p-md-5 px-auto">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-3 text-center">
          <%= image_tag "logo2.png", width: "300", class: "mb-2" %>
          <small class="d-block mb-3 text-center">Copyright © B-Light-Group Inc. All Rights Reserved.</small>
        </div>
        <div class="col-6 col-md-2">
          <h5>企業情報</h5>
          <ul class="list-unstyled text-small">
            <li><a href="https://b-light-group.co.jp/message.html">コーポレートメッセージ</a></li>
            <li><a href="https://b-light-group.co.jp/b-light-group.html">ビーライトグループとは</a></li>
            <li><a href="about.html">会社概要</a></li>
            <li><a href="https://b-light-group.co.jp/location.html">事業所一覧</a></li>
            <li><a href="contact.html">お問い合わせ</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-3">
          <h5>グループ会社</h5>
          <ul class="list-unstyled text-small">
            <li><a href="https://b-light-group.co.jp">株式会社ビーライトグループ</a></li>
            <li><a href="http://b-light.co.jp/">株式会社ビーライト</a></li>
            <li><a href="https://b-light-neo.co.jp">株式会社ビーライトネオ</a></li>
            <li><a href="https://b-solar.jp">株式会社ビーライトソーラー</a></li>
            <li><a href="https://b-premium.co.jp">株式会社ビーライトプレミアム</a></li>
            <li><a href="http://solutions.b-light.co.jp/">株式会社ビーライトソリューションズ</a></li>
          </ul>
        </div>
        <div class="col-6 col-md-2">
          <h5>事業案内</h5>
          <ul class="list-unstyled text-small">
            <li><a href="http://b-light.co.jp/construction.html">設備工事・設計施工事業</a></li>
            <li><a href="https://b-light-neo.co.jp/aliance.html">アライアンス事業</a></li>
            <li><a href="https://b-light-neo.co.jp/o_m.html">再生エネルギーO&M事業</a></li>
            <li><a href="https://b-premium.co.jp#develop">ランドシステム事業</a></li>
            <li><a href="https://b-renovation.co.jp">住宅再生事業</a></li>
            <li><a href="https://b-solar.jp">メンテナンス事業</a></li>
            <li class="none">医療コンサルティング事業</li>
          </ul>
        </div>
        <div class="col-6 col-md-2">
          <h5>採用情報</h5>
          <ul class="list-unstyled text-small">
            <li><a href="https://recruitment.b-light-group.co.jp/">新卒採用</a></li>
            <li class="none">中途採用</li>
            <li class="none">インターン・アルバイト</li>
            <li class="none">エントリーはこちら</li>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
